:root {
  --xxx-width: 16rem; /* Adjust this value to your desired width */
}

.sidebar {
  /*top: 0px;*/
  /*left: 2%;*/
  width: 15% !important;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-weight: bold;*/
  font-size: 16px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-color: darkolivegreen;
  text-decoration-thickness: 12px;
}

.content {
  /*margin-left: var(--xxx-width) !important;*/
  margin-left: 50px !important;
  /*padding-top: 22px;*/
  /*padding-left: 120px;*/
  left: 10%;
}
