html {
    height: 95%;
}

body {
    display: flex;
    flex-direction: column;
    background-color:#111;
    font:0.8rem/1.25 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#eeeeee;
    height: 100%;
}

.wrapper{
    width:90%;
    height: 100%;
    margin:0 auto
}

#header{
    width:100%;
}

#footer {
    font-size: small;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
}

#section_intro {
    width:25%;
    float:left;
    left: 8%;
    position:fixed;
    padding-top:100px;
}
#avatar {
    max-width:100%;
    align-content: center;
}
img {max-width:80%;align-content: center;}
#name {text-align: center;font-size: large;}
#intro {text-align: center;font-size: small;}


#section_info {
    width:65%;
    float:right;
    left: 40%;
    position:fixed;
    padding-top:5%;
}

h1,h2,h3,h4,h5,h6 {
    color:#ccc;
    margin:0 0 20px;
}

h1,h2,h3{line-height:1.1}
h1{font-size:28px}
h2{color:#ecdcdc}*/
h4,h5,h6{color:#494949}

p,ul,ol,table,pre,dl {
    margin:0 0 20px
}

a{color:#267CB9;text-decoration:none}
a:hover,a:focus{color:#069;font-weight:bold}
a small{font-size:11px;color:#777;margin-top:-0.3em;display:block}
a:hover small{color:#777}

table{width:100%;border-collapse:collapse}
th,td{text-align:left;padding:5px 10px;border-bottom:1px solid #e5e5e5}
dt{color:#444;font-weight:600}
th{color:#444}

hr {border:0;background:#e5e5e5;height:1px;margin:0 0 20px}
